.page-size {
    margin-top: var(--header-height-iteam);
}

.bread-pages {
    display: flex;
    margin: 2rem 0;
    .bread-page {
        font-size: 1.4rem;
    }

    .bread-page.active {
        text-decoration: underline;
        color: var(--color-name-input);
    }
    ::after {
        display: inline-block;
        padding-right: 0.5rem;
        color: var(--color-name-input);
        content: '/';
    }
}
.size-body {
    margin: 0 3rem;
}
.size-blog-card {
    max-width: 100%;
    a {
        overflow: hidden;
        display: block;
    }
    img {
        width: 100%;
        height: auto;
        transition: all 0.5s linear;
    }

    &:hover img {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

.people-time {
    padding: 1.5rem;
    span {
        font-size: 1.2rem;
        color: var(--color-name-input);
        font-weight: 500;

        text-transform: uppercase;
    }
    .page-people {
        margin-right: 0.4rem;
    }
}

.show-option-size {
    h3 {
        font-size: 2.2rem;
        text-transform: uppercase;
        span {
            margin-bottom: 1.5rem;
            background-color: var(--style-color);
            display: block;
            margin-top: 1.5rem;
            width: 5rem;
            height: 0.1rem;
        }
    }

    .show-size-text {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        color: var(--style-color);
        margin-bottom: 1rem;
    }
    .show-detail {
        font-size: 1.4rem;
        font-weight: 700;
        cursor: pointer;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
        .show-box {
            transition: all 0.3s linear;
        }
        &:hover .show-box {
            transform: translateX(0.8rem);
        }
    }
}

.size-bar {
    margin: 0 3rem;
    position: fixed;
    z-index: 9;
    h2 {
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--border-color);
    }

    ul {
        list-style: none;
        padding: 0;
        li {
            margin: 0.5rem 0;
            a {
                color: var(--style-color);
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 2.8rem;
                letter-spacing: 1px;
                &:hover {
                    border-bottom: 1px solid var(--style-color);
                }
            }
        }
    }

    .contact-nav {
        .contact-card {
            display: flex;
            align-items: center;
            flex: 1;
            img {
                width: 45%;
                height: auto;
                border-radius: 5px;
            }
            .contact-detail {
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
                p {
                    font-weight: 600;
                }
                p,
                span {
                    font-size: 1.3rem;
                }
            }
        }
    }
}
@media (max-width: 56.7rem) {
    .size-bar,
    .size-body {
        margin: 0 1rem;
    }
    .show-option-size {
        h3 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 768px) {
    .size-bar {
        position: relative;
    }
}
