.wrapper{
    min-width: 11.2rem;
    min-height: 5rem;
    max-height: min((100vh - 96px ) - 60px , 734px);
    background-color: var(--nomal-color);
    box-shadow: 0 2px 4px rgb(40 40 40 / 30%);
    transition: all .4s;
    z-index: 9999;
    margin-top: 1.8rem;
}