.show-iteam {
    margin-top: var(--header-height-iteam);
}
.nav-show {
    display: flex;
    align-items: center;
    font-size: 1.4rem;

    .title-iteam {
        opacity: 0.8;
        font-size: 1.3rem;
    }
    ::after {
        padding-right: 0.5rem;
        color: var(--color-name-input);
        content: '/';
    }
}

.select-option {
    position: sticky;
    top: 0;
}

.local {
    font-size: 1.3rem;
    color: var(--brean-color);
    line-height: 1.4;
    text-transform: uppercase;
}
.title-detail {
    h1 {
        font-size: 3rem;
        color: var(--brean-color);
        margin: 1rem 0;
    }
}

.card-price {
    display: flex;
    border-top: 1px dotted #dee2e6;
    border-bottom: 1px dotted #dee2e6;
    padding: 1rem 0;
    .card-price-coins {
        font-size: 1.8rem;
        color: var(--sale-iteam);
        font-weight: 500;
    }

    .card-price-sale-coins {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--sale-coin);
        text-decoration: line-through;
    }

    .card-price-total-sale {
        font-size: 1.3rem;
        background-color: var(--sale-iteam);
        color: var(--sale-coin);
        padding: 0.2rem 1rem;
        border-radius: 1.5rem;
    }

    ::after {
        content: '';
        margin-right: 2rem;
    }
}

.option-size {
    margin: 10px 0;
    .head-size {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        p {
            font-weight: 700;
            color: var(--brean-color);
        }
        a {
            background-color: var(--option-size);
            padding: 0.2rem 1rem;
            margin-left: 2rem;
        }
    }

    .select-size {
        display: flex;

        .nav-size {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--border-input);
            min-width: 50px;
            height: 34px;
            margin: 1rem;
            padding: 3px 10px;
            cursor: pointer;
        }

        .borrder-color {
            border: 1px solid var(--style-color);
        }
    }
}
.option-color {
    margin-bottom: 10px;
    display: flex;
    p {
        margin-right: 10px;
    }
}

.quantity {
    display: flex;

    .btn-incre {
        background: none;
        border: 1px solid var(--border-color);
        height: 35px;
        width: 35px;
        font-weight: 600;
        font-size: 1.4rem;
    }

    > p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 600;
        width: 50px;
        height: 35px;
        background-color: var(--nomal-color);
        border: 1px solid var(--border-color);
        border-left: none;
        border-right: none;
    }
}

.option-paying {
    margin: 0.5rem 0;
    display: flex;
    a {
        height: 3.5rem;
        line-height: 3.5rem;
        color: var(--nomal-color);
        border: none;
        background: var(--style-color);
        min-width: 13.5rem;
        font-weight: 500;
        margin: 0 0.5rem;
        text-transform: uppercase;
        width: 100%;
        white-space: nowrap;
        text-align: center;
        &:hover {
            opacity: 0.8;
            color: var(--nomal-color);
        }
    }
}

.box-popup {
    position: relative;
    background-color: var(--nomal-color);
    border-radius: 0.2rem;
    width: 240px;
    min-width: calc(100% - 12rem);
    overflow: hidden;

    .header-popup {
        background-color: var(--style-color);
        width: 100%;
        height: 3.5rem;

        .selec-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.4rem;
            color: var(--nomal-color);
            cursor: pointer;
            font-size: 1.6rem;
            transition: all 0.2s linear;
            &:hover {
                opacity: 0.8;
            }
        }
    }

    .popup-description {
        margin: 1.5rem;
        text-align: center;
        font-size: 1.4rem;
    }
}
