.banner-main {
    display: flex;
    // margin: 2.5rem 0;

    .banner-main-iteam {
        transition: all 0.2s linear;
        overflow: hidden;

        &:hover img {
            opacity: 0.8;
            transform: scale(1.05);
        }
    }

    img {
        width: 100%;
        height: auto;
        transition: all 0.5s linear;
    }
}
.group-colection {
    margin: 2.5rem 0;
}

.my-swiper {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 2.5rem 0;
}

.iteam-img {
    &:hover img {
        opacity: 1;
        transform: scale(1.05);
    }
    img {
        width: 100%;
        height: auto;
        opacity: 0.4;
        transition: all 0.2s ease;
    }
}

.item-hot {
    img {
        width: 100%;
    }
    .box-item-hot {
        // heigh;
        .head-item-hot {
            margin-bottom: 30px;
            position: relative;
            padding-bottom: 20px;
            text-align: center;
            ::before {
                content: '';
                font-size: 16px;
                width: 200px;
                height: 2px;
                background: #e5e5e5;
                opacity: 0.6;
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translateX(-50%);
            }
            ::after {
                content: '*';
                color: #e5e5e5;
                width: 50px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                position: absolute;
                bottom: -5px;
                left: 50%;
                background: #fff;
                transform: translateX(-50%);
            }
            h3 {
                text-transform: uppercase;
            }
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.policy {
    margin-top: 50px;
    background-color: var(--policy-item);
    padding: 30px 0;
    .policy-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        .policy-img {
            display: inline-block;
            position: relative;
            margin-bottom: 15px;
            width: 55px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            background-color: #1f2027;
            border-radius: 50%;
            cursor: pointer;
            img {
                width: 100%;
                padding: 1rem;
                transition: 1s;
                // filter: invert(85%);
            }

            &:hover img {
                opacity: 0.8;
                transform: scale(1.1) rotate(360deg);
            }
        }
        .filter-invert {
            img {
                filter: invert(85%);
            }
        }

        .policy-detail {
            text-align: center;
            color: var(--sale-coin);
            p {
                font-size: 1.4rem;
                font-weight: 700;
                text-transform: uppercase;
            }
            span {
                font-size: 1rem;
            }
        }
    }
}

.reciver-new {
    background-color: var(--policy-item);
    padding: 20px 0;
    position: relative;

    .new-reciver {
    }

    .form-reciver {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 1.8rem;
            font-weight: 400;
            color: var(--color-name-input);
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        .type-form-reciver {
            width: 100%;
            max-width: 400px;
            position: relative;

            .reciver-email {
                width: 100%;
                border-radius: 50px;
                font-size: 1rem;
                font-weight: 400;
                padding: 0.6rem 1.5rem 0.8rem;
                border: none;
                box-shadow: none;
                outline: 0;
                line-height: 1.5;
                // color: var(--nomal-color);
                // background-color: var(--style-color);
            }
            .sub-reciver {
                position: absolute;
                top: 0;
                right: 0;
                outline: none;
                border: 0 none;
                color: var(--nomal-color);
                background-color: var(--style-color);
                font-weight: 700;
                padding: 0 2rem;
                text-transform: uppercase;
                border-radius: 50px;
                height: 100%;
                &:hover {
                    color: var(--style-color);
                    background-color: var(--border-color);
                }
            }
        }
    }
}

@media (max-width: 57.6rem) {
    .iteam-colections {
        .colection-header {
            p {
                font-size: 1.2rem;
            }
            h2 {
                font-size: 1.8rem;
            }
        }
    }

    .colection-show {
        display: block;
    }
}
